*{
      margin:0;
      padding:0;

}

section{


}

li{

    margin-left:15px;

}

li a:hover{

   color:blue;
   text-decoration:none;

}


.title{

   text-align:center;
   border-bottom:3px solid black;
   width:1100px;


}











div.container{

    width:1300px;
    margin:auto;

}

.cardBtn{
        background-color: #dcdcdc;
        color : black;
        border: 1px solid black;
        border-radius: 8px;
        width: 60px;
}
.cardBtn:hover{
		background-color : #CDECFA;
                	color :black;
}

.cardBtn a{
    text-decoration:none;
}

#table1{

    text-align:center;
    width:1100px;


}

