*{
    padding:0;
    margin:0;

}

.register{
    border-bottom:3px solid black;

}

li{

    margin-left:15px;

}

li a:hover{

   color:blue;
   text-decoration:none;

}








div.imageinfo{

text-align:center;
    width:1140px;
    margin:auto;

}



#cardinfo{

             float: left;
             margin: 40px 40px 40px 60px;
             padding: 15px 30px;
             width: 350px;
             height:870px;
             border: 3px solid black;
             border-radius: 10px;

}

#cardPhoto{
    width:250px;
    border: 2px solid black;

}
#cardName,#cardCompany,#annualFee,#beforePay,#cardType,#cardLink{

        margin:auto;

        border:2px solid black;
}

#cardbenefits{

                 text-align: center;
                 float: right;
                 margin: 40px 0 40px 0px;
                 padding: 15px;
                 width: 600px;
                 height:870px;
                 border: 3px solid  black;
                 border-radius: 10px;


}

#benefits{

    float:left
    width:550px;
    height:400px;


}

#ggg{
    margin-top:50px;

}

#benefitsangse{

    height:400px;
    padding-bottom:10px;

}

textarea{

        height:80px;
        width:400px;

}

#transportation, #mart, #shopping, #movie, #gasoline, #cafe, #phone{

    width:50px;
    height:50px;
    background-color:white;


}
#transportation2, #mart2, #shopping2, #movie2, #gasoline2, #cafe2, #phone2{
 width:45px;
    height:45px;
    display:center;
}

#registerbutton, #resetbutton{

    margin: 10px 130px 30px 80px;
    width:80px;
    height:50px;
    background-color:pink;
    border:1px solid black;
    border-radius:5px;

}

#ula{

    display:block;
}

#lia,#lib,#lic,#lid,#lie,#lif,#lig,#lia2{

    display:inline-block;
}