*{
    padding:0;
    margin:0;

}

.register{

border-bottom:3px solid black;


}




div.imageinfo{

text-align:center;
    width:1140px;

    margin:auto;

}


#companyinfo{

             float: left;
             margin: 40px 40px 40px 0;
             padding: 15px 30px;
             height:400px;
             border: 3px solid black ;
             border-radius: 10px;

}

li{

    margin-left:15px;

}

li a:hover{

   color:blue;
   text-decoration:none;

}

#companyLogo{

    width:250px;
    border:2px solid black;

}


#companyName,#CardNum{

        margin:auto;
        border:2px solid black;

}

#companyinfo{

    border:3px solid black;

}

#logodiv, #namediv{

}




#Cname{



    margin-top:30px;
    margin-left:60px;
    margin-right:100px;
    font-size:20px;
    font-weight:bold;


}

 #Clogo{



    margin:70px;
    font-size:20px;

    font-weight:bold;

}




#registerbutton, #resetbutton{

    margin: 30px 30px 30px 30px;
    width:80px;
    height:50px;
    background-color:pink;
    border:1px solid black;
    border-radius:5px;

}