
*{
    margin:0;
    padding:0;
}
ul,ol,li{
		list-style-type: none;
}
a{
    text-decoration: none;
 		color : black;
 }
/*카드 검색 전체 div*/
 #chartWrap{
    margin: 0 auto;
    height: auto;
    background-color : #e6ecf7;
 }

 /*소제목*/
 #subtitle{
    margin: 0 auto;
    width: 100%;
    height : auto;
    background-color : #fff;
 }
 #subtitle h1{
    margin: 0 auto;
    width : 1300px;
    display: flex; /*align-items와 함께 세로 센터만들기*/
    align-items: center;
    padding: 40px;
   font-size : 35px;
 }

/*리스트*/
 #listInfo{
    width:1300px;
    margin: 0 auto;
    padding : 50px;
    font-size : 20px;
 }

 #listInfo #onecard{
    background-color : #fff;
    height:220px;
    width:100%;
    padding : 40px 50px;
    margin-bottom: 30px;
 }
 #listInfo img{
    width : 230px;
    float : left;
 }

#listInfo .text{
    float : left;
    margin: 10px 50px;
  }

  #listInfo .name{
    font-size : 35px;
    margin-bottom :10px;
  }
  #listInfo .benefits{
      width:830px;
      float:left;
      padding-left: 120px;
  }
    #listInfo .icon{
        float:left;
        width: 140px;
       height: 140px;
       line-height: 140px;
       border-radius: 50%;
       background-color: #f8efed;
       margin: 0 60px;
    }
  #listInfo .icon img{
    width:140px;
  }

   #listInfo .more{
    position:relative;
    top:-50%;
    float: right;
    font-size : 20px;
    padding: 112px 13px;
    background-color:  rgba(204,153,255, 0.5);
    border-radius: 10px;
   }
    #listInfo .more:hover{
    background-color:  rgba(204,153,255, 1);
    transition: 0.3s;
    }

    #listInfo .condition{
        font-size : 15px;
        position : relative;
        top: 78%;
        left:-51%;
    }

    #listInfo .cart{
        display:inline;
        padding-left:80px;
        line-height: 52px;
        font-size : 20px;
    }
   #listInfo .condition img{
    width: 30px;
    position : absolute;
    left:53%;
    padding:10px;
   }
      #listInfo .condition a:hover .cart{
        color : rgba(204,153,255, 1);
      }