*{
    margin:0;
    padding:0;
}
ul,ol,li{
		list-style-type: none;
}
a{
    text-decoration: none;
 		color : black;
 }
/*카드 검색 전체 div*/
 #chartWrap{
    margin: 0 auto;
    height: auto;
    background-color : #e6ecf7;
 }

 /*소제목*/
 #subtitle{
    margin: 0 auto;
    width: 100%;
    height : auto;
    background-color : #fff;
 }
 #subtitle h1{
    margin: 0 auto;
    width : 1300px;
    display: flex; /*align-items와 함께 세로 센터만들기*/
    align-items: center;
    padding: 40px;
   font-size : 35px;
 }

/*차트*/
 #chartInfo{
    width:1300px;
    margin: 0 auto;
    padding : 50px;
    font-size : 20px;
 }
  #chartInfo #onechart{
     background-color : #fff;
     height:100px;
     padding : 30px 50px;
     margin-bottom: 30px;
  }

#onechart .rank{
    font-size : 50px;
    float:left;
    padding: 20px 20px;
    text-align:center;
    margin-right : 10px;
 }

 #onechart img{
    width : 130px;
    height: 82px;
    float:left;
    margin: 10px 50px;
 }
 #onechart .text{
    float:left;
 }
  #onechart .name{
    font-size : 30px;
    margin: 20px 0 10px;
  }
  #onechart #ex a{
        float:right;
        position:relative;
        font-size : 20px;
        padding: 38px 13px;
        background-color:  rgba(204,153,255, 0.5);
        border-radius: 10px;
        margin: 0 10px;
  }

 #onechart #ex a:hover{
  background-color:  rgba(204,153,255, 1);
  transition: 0.3s;
 }
 #onechart #ex .cart{
    cursor : pointer;
 }


/*비교함*/
 #comparebox{
    background-color : rgba(000,000,050, 0.7);
    height: 300px;
    width: 200px;
    padding: 20px;
    position:fixed;
    right : 50px;
    top :30%;
 }

 #comparebox li{
    padding: 10px;
    margin: 45px 0;
    text-align : center;
    border-left:5px solid pink;
 }
  #comparebox li label{
   color : white;
    width:100%;
  }
  #comparebox li .delete_btn{
    position:absolute;
    right : 12%;
    background: #969696;
    border-radius:50%;
    width:20px;
    height:20px;
    cursor:pointer;
  }

 #comparebox #submit{
    font-size: 18px;
    position:absolute;
    top: 73%;
    left:27%;
    padding: 15px 20px;
    background-color : yellow;
    border-radius : 10px;
    cursor:pointer;
}

/*비교함 보이기/숨기기 */
 #comClose{
    padding:10px;
    position:absolute;
    top:0px;
    left:-30.5px;
    background-color : rgba(000,000,050, 0.7);
    color:white;
    border:2px solid rgba(000,000,050, 1);
    border-right:none;
    cursor:pointer;
 }
 #comShow{
    padding:10px;
    position:fixed;
    top:30%;
    right:0;
    background-color : rgba(000,000,050, 0.7);
    color:white;
    border:2px solid rgba(000,000,050, 1);
    border-right:none;

 }