*{
    padding : 0px;
    margin : 0px;
}
ul,ol,li{
		list-style-type: none;
}
#foot{
    width:100%;
    background-color : #0c2135;
    color : #dcdcdc;
}
#footwrap{
    padding : 40px 0;
    width:1300px;
    text-align:center;
    margin: 0 auto;
}

#foot #logo{
	text-align: center;
}
#footlogo img{
    width:90px;
}
#foot ul{
    margin: 30px;
}
#foot li{
    display : inline;
    margin :0 20px;
    font-size : 14px;

}

#foot .copy{
    color : #46649B;
    font-size : 12px;
}
