
*{
    margin:0;
    padding:0;
}
ul,ol,li{
		list-style-type: none;
}
a{
    text-decoration: none;
 		color : black;
 }
#main_wrap { }
#main_wrap h2{
   padding : 30px;
   text-align: center;
   font-size : 35px;
}
#main_wrap span{
    background-color: rgba(80, 255, 0, 0.3);
}

/*메인 홈*/
#mv{
    width : 100%;
	height: 900px;
	background: #000;
}
#mv > div {
    background-image: url("../images/maamin.jpg");
	height: 900px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
/*상단 글*/
.first_info{
    position: relative;
    top: 40%;
    left: 15%;
    font-size : 25px;
}




/*하단 홈*/
#no_mv{
    width :1300px;
    height: auto;
    background-color: #fff;
    margin: -70px auto 0;
    box-shadow: 3px 3px 15px rgb(0 0 0 / 15%);
}

/*솔루션*/
#second_block{
    max-width:1100px;
    width:100%;
    margin : 0 auto;
    height: 560px;
	text-align: center;

}
#second_block ul > li > a{
    display:block;
    width:auto;
    margin:5px;
}
#second_block .screen{
    position:relative;
    overflow:hidden;
}

#second_block .show{
        width: 130px;
       height: 130px;
       line-height: 130px;
       font-size: 30px;
       border-radius: 50%;
       background-color: #f8efed;
     transition: 0.4s;
}
#second_block li:nth-child(2) .show{
      margin-left:150px;
}
#second_block li:nth-child(3) .show{
      margin-left:300px;
}

#second_block li:hover .show{
     width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 35px;
     transition: 0.4s;

}

#second_block .screen .slide{
    position:absolute;
    bottom: 40%;
    left:20%;
    font-size : 25px;
    z-index:2;
    color:#5a5a5a;
}
#second_block li:nth-child(2) .slide{
   left:33%;
}
#second_block li:nth-child(3) .slide{
    left:47%;
}

/*솔루션 밑줄*/
#second_block .slide{
    position:relative;
}
#second_block .slide:after{
    content:'';
    position:absolute;
    left:0;
    bottom: -10px;
    width:0px;
    height:3px;
    margin: 5px 0 0;
     transition: 1s;
     opacity: 0;
     background-color: #FFB0CF;
}

#second_block li:hover .slide:after{
  width: 100%;
  opacity: 1;
}




/*카드 랜덤 추천*/
#third_block{
    height:700px;
    text-align:center;
    background-color: #e6ecf7;
    padding: 0 40px;
    background-repeat: no-repeat;
}
#third_block .randomCard{
   /*background-image: url("../images/cardBack.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
    filter:blur(3px);*/

    background-color: #fff;
    float : left;
    width : 380px;
    height : 510px;
    margin: 0 10px;
    border : 0.1px solid #e5e5e5;
   }

#third_block .randomCard img{
    width : 290px;
    margin : 110px 0;
    transition:all 0.4s;
}
#third_block .randomCard p{
    font-size : 24px;
}
#third_block a:hover .randomCard{

    box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 18%);
   transition:all 0.4s;
}
#third_block a:hover .randomCard img{
   transform: rotate(90deg);
   transition:all 0.4s;

}