<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin cardcompanylist</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
        <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" href="../static/css/admin_cardcompanylist.css"/>

    <script th:src="@{/static/js/companyDelete.js}"></script>
</head>
<body>


<th:block th:replace="header:: header"></th:block>

<section>


    <div class="container">

        <br><br><br>



        <ul class="nav nav-pills justify-content-end">

            <li>
                <a href="admin_CardList" th:href="@{/admin}"><p >┖ 카드 목록</p></a>
            </li>

            <li>
                <a href="admin_CardCompanyList" th:href="@{/admin/cardCompany_list_page}"><p >┖ 카드사 목록</p></a>
            </li>

            <li>
                <a href="admin_CardCompanyRegister" th:href="@{/admin/company_regist_page}"><p>┖ 카드사 등록</p></a>
            </li>

            <li>
                <a href="admin_CardRegister" th:href="@{/admin/card_regist_page}"><p>┖ 카드등록</p></a>
            </li>

        </ul>

        <p><h1 class="title">카드사 목록</h1></p>




        <table class="table table-hover" id="table1">

            <tr id="head">
                <th width="150"> 카드사 코드</th>
                <th width="200"></th>
                <th width="200">카드사 명</th>
                <th width="200">등록 카드갯수</th>
                <th width="130"></th>
                <th width="130"></th>

            </tr>

            <tr class="tr" th:each="company : ${companylist}">
             <input type="hidden" id="id" th:value="${company.companyCode}">

                <td><span th:text="${company.companyCode}"></span></td>
                <td><img th:src="@{../static/images/}+${company.companyLogo}" style="width:120px;"/></td>
                <td><span th:text="${company.companyName}"></span></td>
                <td><span th:text="${company.haveCardNum}"></span></td>
                <td><button class="cardBtn" id="updateBtn"><a href="admin_CardCompanyUpdate" th:href="@{'/company_update_page/'+${company.companyCode}}">수정</a></button></td>
                <td><button class="cardBtn" id="deleteBtn">삭제</button></td>
            </tr>

        </table>
    </div>
</section>



</body>
</html>