

<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>admin cardcompany register</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
      <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="../static/css/header.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
  <link rel="stylesheet" href="../static/css/admin_cardcompanyregister.css"/>

  <script th:src="@{/static/js/cardCompanyRegister.js}"></script>

</head>

<body>

<th:block th:replace="header:: header"></th:block>

    <section>




      <div class="imageinfo">


        <br><br><br>



        <ul class="nav nav-pills justify-content-end">

          <li>
            <a href="admin_CardList" th:href="@{/admin}"><p >┖ 카드 목록</p></a>
          </li>

          <li>
            <a href="admin_CardCompanyList" th:href="@{/admin/cardCompany_list_page}"><p >┖ 카드사 목록</p></a>
          </li>

          <li>
            <a href="admin_CardCompanyRegister" th:href="@{/admin/company_regist_page}"><p>┖ 카드사 등록</p></a>
          </li>

          <li>
            <a href="admin_CardRegister" th:href="@{/admin/card_regist_page}"><p>┖ 카드등록</p></a>
          </li>

        </ul>


        <p></p>
        <h1 class="register">카드사 등록</h1>
        <br><br>
        <form method="post" action="/admin/company_register" id="form" enctype="multipart/form-data">

        <div class="container" id="companyinfo">


          <div id="logodiv">
          <label id="Clogo">카드사 로고 : </label>

              <input type="file" id="companyLogo" name="companyLogo">
          </div>

          <div id="namediv">

             <label id="Cname">카드사 명 : </label>

             <input type="text" id="companyName" name="companyName">
          </div>

          <br><br><br>


        </div>


      <br>

        <input type="reset" value="다시 작성" id="resetbutton">

        <input type="submit" value="등록" id="registerbutton">

        <br><br>

        </form>
      </div>



    </section>









</body>
</html>