<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의 게시판</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" href="../static/css/boardlist.css"/>


</head>
<body>

<th:block th:replace="header:: header"></th:block>

<div class="container">



    <br><br><br><br> <br>
    <div class="text-center">
        <p class="h4">문의 게시판</p>
        <p class="h2" style="border-bottom: black 3px solid;"></p>
        <br>
        <br>
        <br>
    </div>

    <ul class="nav nav-pills justify-content-end" style="margin-bottom:5px; width: 500px; float:left;" >

        <li> <a class ="mine"  href="mylist.html" th:href="@{/my_post}">내 작성글</a> </li>

    </ul>


    <ul class="nav nav-pills justify-content-end" style="margin-bottom:5px; width: 500px; float:right;" >

        <li class="nav-item">

            <a sec:authorize="isAuthenticated()" class="nav-link active" href="board_write.html" th:href="@{/boardwrite_page}">글쓰기</a>
        </li>

    </ul>
    <table class="table">
        <thead>

        <tr style="text-align: center">
            <th scope="col">#</th>
            <th id="title" scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">카테고리</th>
            <th scope="col">작성일</th>
            <th scope="col">답변 여부</th>
        </tr>

        </thead>

        <tbody>
        <tr style="text-align:center;" th:each="board : ${postList}">
            <th scope="row">
                <span th:text="${board.bbsID}" ></span>
            </th>
            <td id="title_rl">
                <a th:href="@{'/board_detail_page/'+${board.bbsID}}" >
                    <span th:text="${board.bbsTitle}" ></span>
                </a>
            </td>
            <td>
                <span th:text="${board.userID}" ></span>
            </td>
            <td>
                <span th:text="${board.bbsCategory}" ></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${board.bbsReply}"></span>
            </td>

        </tr>
        </tbody>

    </table>

    <nav id="pag" style="text-align: center;">
        <ul class="pagination justify-content-center"
            th:with="start=${T(Math).floor(postList.number/10)*10 + 1},
                        last=(${start + 9 < postList.totalPages ? start + 9 : postList.totalPages})">
            <li class="page-item">
                <a class="page-link" th:href="@{/boardlist_page(page=1)}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:class="${postList.first} ? 'disabled'">
                <a class="page-link" th:href="${postList.first} ? '#' :@{/boardlist_page(page=${postList.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == postList.number + 1} ? 'active'">
                <a class="page-link" th:text="${page}" th:href="@{/boardlist_page(page=${page})}"></a>
            </li>

            <li class="page-item" th:class="${postList.last} ? 'disabled'">
                <a class="page-link" th:href="${postList.last} ? '#' : @{/boardlist_page(page=${postList.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{/boardlist_page(page=${postList.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
<br><br><br><br><br><br>
<th:block th:replace="footer :: footer"></th:block>

</body>
</body>
</html>
