<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inquire board</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/static/css/header.css}" />
</head>
<body>
    <div class="container">
        <th:block th:replace="header:: header"></th:block>

        <div id="a" class="text-center">

            <p>문의게시판</p>
            <p>--------</p>
        </div>




    <ul class="nav nav-pills justify-content-end" style="margin-bottom:5px">
        <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link active" href="../inquire_form">글쓰기</a>
        </li>
    </ul>
    <table class="table">
            <thead>
                <tr style="text-align: center">
                    <th scope="col">#</th>
                    <th id="title" scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">작성일</th>
                    <th scope="col">답변 여부</th>
                </tr>
            </thead>

           <tbody>
            <tr style="text-align:center;" th:each="끌어오기">
                <th scope="row">
                    <span th:text="게시물아이디 끌어오기"></span>
                </th>
                <td id="title_rl">
                    <a th:href="상세보기로 넘겨주기">
                        <span th:text="제목 끌어오기"></span>
                    </a>
                </td>
                <td>
                    <span th:text="유저아이디(작성자) 끌어오기"></span>
                </td>
                <td>
                    <span th:text="카테고리 끌어오기"></span>
                </td>
                <td>
                    <span th:text="작성일 끌어오기"></span>
                </td>
                <td>
                    <span th:text="$답변여부 끌어오기"></span>
                </td>

            </tr>
           </tbody>

    </table>

<!--        <nav id="pag" style="text-align: center;">-->
<!--            <ul class="pagination justify-content-center"-->
<!--                th:with="start=${T(Math).floor(postList.number/10)*10 + 1},-->
<!--                    last=(${start + 9 < postList.totalPages ? start + 9 : postList.totalPages})">-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" th:href="@{/inquire_board(page=1)}" aria-label="First">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item" th:class="${postList.first} ? 'disabled'">-->
<!--                    <a class="page-link" th:href="${postList.first} ? '#' :@{/inquire_board(page=${postList.number})}" aria-label="Previous">-->
<!--                        <span aria-hidden="true">&lt;</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == postList.number + 1} ? 'active'">-->
<!--                    <a class="page-link" th:text="${page}" th:href="@{/inquire_board(page=${page})}"></a>-->
<!--                </li>-->

<!--                <li class="page-item" th:class="${postList.last} ? 'disabled'">-->
<!--                    <a class="page-link" th:href="${postList.last} ? '#' : @{/inquire_board(page=${postList.number + 2})}" aria-label="Next">-->
<!--                        <span aria-hidden="true">&gt;</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="page-item">-->
<!--                    <a class="page-link" th:href="@{/inquire_board(page=${postList.totalPages})}" aria-label="Last">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->

    </div>
    <th:block th:replace="footer :: footer"></th:block>
</body>
</body>
</html>