<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>문의 글 수정</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
  <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



  <link rel="stylesheet" href="../static/css/header.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />


  <script th:src="@{/static/js/board_update.js}"></script>

</head>


<body>

<th:block th:replace = "header :: header"></th:block>

<div class="container">

  <br><br><br><br><br>

  <div class="text-center" >
    <p class="h4">문의 게시판</p>
    <p class="h2" style="border-bottom: black 3px solid;"></p>

    <br>
    <br>
    <br>
  </div>

  <form method="put" th:action="@{/post/update/${postDto.bbsID}}"> <!--"@{'/post/update/'+${postDto.id}}"-->
    <input type="hidden" id="id" th:value="${postDto.bbsID}">

    <div class="form-group">
      <label>문의 제목</label>
      <input type="text" name="bbsTitle" id="bbsTitle" class="form-control" th:value="${postDto.bbsTitle}"/>
    </div>

    <div class="form-group">

      <label>카테고리</label>

      <select name="bbsCategory" class="form-control">
        <option value="카드 추천">카드추천</option>
        <option value="혜택문의"> 혜택문의 </option>
        <option value="기타">기타</option>
      </select>

    </div>

    <div class="form-group">
      <label>문의 내용</label>
      <textarea name="bbsContent" id="bbsContent" class="form-control" rows="10">[[${postDto.bbsContent}]]</textarea>
    </div>

    <div class="text-right" style="margin-bottom:100px;">
      <input id="submitBtn" class="btn btn-outline-secondary" type="button" value="수정">

    </div>
  </form>
</div>


<th:block th:replace = "footer :: footer"></th:block>


</body>
</html>