<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/card_chart.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

</head>

<body>
    <th:block th:replace = "/header :: header"></th:block>


    <div id="chartWrap">
            <div id="subtitle">
                <h1> 카드 TOP10 </h1>
            </div>

           <div id="chartInfo">
               <ul>
                   <li id="onechart" th:each="rank, i : ${rankList}"> <!--반복문-->
                       <p class="rank" th:text="${i.index+1}"> </p>
                       <img th:src="@{../static/images/} + ${rank.cardPhoto}"/><!--사진-->
                       <div class="text">
                           <p class="name" th:for="${i.index+1}" th:text="${rank.cardName}"></p> <!--카드이름-->
                           <p th:text="${rank.cardCompany}"></p> <!--카드사-->
                       </div>
                       <div id="ex">
                           <a href="card_detail.html" th:href="@{/card/card_detail_page}" class="more"> 상세 보기</a>
                           <a class="cart" onclick='getRadioText(event)' th:id="${i.index+1}"> 비교함 담기</a>
                       </div>
                   </li>
                   <li id="onechart" th:each="rank, i : ${rankList}"> <!--반복문-->
                       <p class="rank"> </p>
                       <img th:src="@{../static/images/} + ${rank.cardPhoto}"/><!--사진-->
                       <div class="text">
                           <p class="name" for="a" th:text="${rank.cardName}">dsfsdf</p> <!--카드이름-->
                           <p th:text="${rank.cardCompany}"></p> <!--카드사-->
                       </div>
                       <div id="ex">
                           <a href="card_detail.html" th:href="@{/card/card_detail_page}" class="more"> 상세 보기</a>
                           <a class="cart" onclick='getRadioText(event)' id="a"> 비교함 담기</a>
                       </div>
                   </li>
               </ul>
               <!--★★★★★★★★비교함에 담길 for이랑 id 값 수정하기★★★★★★★★-->

           </div>
    </div>
    <div id="comparebox">
        <ul>
            <li>
                <label id="result"></label>
                <a class="delete_btn">x</a>
            </li>
            <li>
                <label id="result2"></label>
                <a class="delete_btn">x</a>
            </li>
        </ul>
        <a class="compare_go" href="card_compare.html" th:href="@{/card/card_compare_page}">비교하기</a>
    </div>
    <script type="text/javascript">
        function getRadioText(event){
            const radioId = event.target.id;
            const query = 'p[for="'+radioId+'"]'

            const text = document.querySelector(query).innerText;


            if(document.getElementById('result').innerText==text || document.getElementById('result2').innerText==text){
                alert('이미 비교함에 있는 카드입니다.');
                return false;
            }
            if(document.getElementById('result').innerText!="" && document.getElementById('result2').innerText!=""){
                alert('비교함이 가득 차있습니다. 비교함을 비우고 다시 담아주세요.');
                return false;
            }

            if(document.getElementById('result').innerText==""){
                document.getElementById('result').innerText = text;
            }else{
                document.getElementById('result2').innerText = text;
            }


        }

    </script>

    <th:block th:replace = "/footer :: footer"></th:block>

</body>
</html>