<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/card_list.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/static/js/menubar.js}"></script>

</head>

<body>
    <th:block th:replace = "header :: header"></th:block>


    <div id="chartWrap">
        <div id="subtitle">
            <h1> 카드List </h1>
        </div>

        <div id="listInfo">
            <ul>
                <li id="onecard" th:each="card : ${cardlist}">
                    <!-- list반복문 : th:each="변수명 : ${받은 모델명}" -->
                    <input type="hidden" th:value="${card.cardCode}" class="code">
                    <img th:src="@{../static/images/} + ${card.cardPhoto}"> <!--사진-->
                    <div class="text">
                        <p class="name" th:for="${card.cardCode}" th:text="${card.cardName}"></p> <!--카드이름-->
                        <p th:text="${card.cardCompany}"></p> <!--카드사-->
                    </div>
                    <div class="benefits">
                        <div class="icon"><img th:src="@{../static/images/} + ${card.benefit1}"> </div>   <!--혜택1 아이콘-->
                        <div class="icon"><img th:src="@{../static/images/} + ${card.benefit2}"> </div>
                        <div class="icon"><img th:src="@{../static/images/} + ${card.benefit3}"> </div>
                    </div>
                    <a href="card_detail.html" th:href="@{'/card_detail_page/'+${card.cardCode}}" class="more"> 상세 보기</a>
                    <div class="condition">
                       <p>연회비 <span th:text="${card.annualFee}"></span>원 | 전월 실적 <span th:text="${card.beforePay}"></span>원</p>
                        <a class="cart" onclick='getRadioText(event)' th:id="${card.cardCode}"> <img src="../static/images/add.png"> 비교함 담기</a>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <input type="button" onclick='menu(1)' value="<<" id="comShow">
    <form id="comparebox" action="/card_compare_page">
        <input type="button" onclick='menu(2)' value=">>" id="comClose">
        <ul>
            <li>
                <label id="result" name="result"></label>
                <input type="hidden" id="one" name="one">
                <a class="delete_btn" onclick='cancel(1)'>x</a>
            </li>
            <li>
                <label id="result2" name="result2"></label>
                <input type="hidden" id="two" name="two">
                <a class="delete_btn" onclick='cancel(2)'>x</a>
            </li>
        </ul>
        <input type="submit" id="submit" href="card_compare.html" th:href="@{/card_compare_page}" value="비교하기" disabled="true">
    </form>

    <script type="text/javascript">
        function getRadioText(event){
            const radioId = event.target.id;
            const query = 'p[for="'+radioId+'"]' //p태그의 for="아이디" 가져오기 //이때 아이디는 위에서 선언
            const query2 = 'input[value="'+radioId+'"]' //input 태그의 id가 해당하는 값 가져오기

            const text = document.querySelector(query).innerText; //innerText : 태그 사이에 텍스트를 넣겠다.
            const code = document.querySelector(query2).value;

            if(document.getElementById('result').innerText==text || document.getElementById('result2').innerText==text){
                alert('이미 비교함에 있는 카드입니다.');
                return false;
            }
            if(document.getElementById('result').innerText!="" && document.getElementById('result2').innerText!=""){
                alert('비교함이 가득 차있습니다. 비교함을 비우고 다시 담아주세요.');
                return false;
            }

            if(document.getElementById('result').innerText==""){
                document.getElementById('result').innerText = text;
               document.getElementById('one').value = code;
               menu(1);

            }else{
                document.getElementById('result2').innerText = text;
                document.getElementById('two').value = code;
                menu(1);

                //비교하기 버튼 활성화
               document.getElementById('submit').disabled = false;
            }
        }

        //비교함 개별삭제
        function cancel(condition){

            if(condition ==1){ //첫번째꺼 삭제하면 두번째text가 첫번째로 올라오기
              document.getElementById('result').innerText="";
              document.getElementById('result').innerText=document.getElementById('result2').innerText;
              document.getElementById('result2').innerText="";

              //비교하기 버튼 비활성화
               document.getElementById('submit').disabled = true;
            }
            else{
              document.getElementById('result2').innerText="";

              //비교하기 버튼 비활성화
               document.getElementById('submit').disabled = true;
              }
        }


        //비교함 보이기, 숨기기
              //초기화
             document.getElementById("comparebox").style.display="block";
             document.getElementById("comShow").style.display = "none";

        function menu(condition){
            var menu = document.getElementById("comparebox");
            var showBtn = document.getElementById("comShow");

            if(condition==1){ //보이기 누르면
              menu.style.display="block";
              showBtn.style.display = "none";

            }
            else{ //숨기기누르면
              menu.style.display="none";
              showBtn.style.display = "block";
          }
        }
    </script>


    <th:block th:replace = "footer :: footer"></th:block>

</body>
</html>