<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cards</title>

    <link rel="stylesheet" th:href="@{/static/css/header.css}" />
    <link rel="stylesheet" href="../static/css/footer.css" />

</head>
<body>

<th:block th:replace = "/header :: header"></th:block>

<div>

    <div class="cards1">
        <div>
           <h1>CARD24 에서 추천하는 카드사</h1>
        </div>
    </div>

    <div>
        
    </div>

    <div>
        <img src="../static/images/cardsG.jpg">
    </div>

</div>

<th:block th:replace = "/footer :: footer"></th:block>

</body>
</html>