<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/card_compare.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/static/js/menubar.js}"></script>
</head>

<body>
    <th:block th:replace = "header :: header"></th:block>


    <div id="compareWrap">
        <div id="subtitle">
            <h1> 카드 비교 </h1>
        </div>

        <table id="compareInfo">
            <tr class="mainInfo">
                <td>
                    <dl>
                        <dt> <img th:src="@{../static/images/} + ${card1.cardPhoto}"> </dt>
                        <dt>
                            <p class="name" th:text="${card1.cardName}"></p>
                            <p class="cardCom" th:text="${card1.cardCompany}"></p>
                        </dt>
                        <dt> <a th:href="@{'/card_detail_page/'+${card1.cardCode}}" class="more"> 상세 보기</a> </dt>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt> <img th:src="@{../static/images/} + ${card2.cardPhoto}"> </dt>
                        <dt>
                            <p class="name" th:text="${card2.cardName}"></p>
                            <p class="cardCom" th:text="${card2.cardName}"></p>
                        </dt>
                        <dt>  <a th:href="@{'/card_detail_page/'+${card2.cardCode}}" class="more"> 상세 보기</a> </dt>
                    </dl>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="intitle"> 카드 종류 </td>
            </tr>

            <tr>
                <td> 신용카드 / <span th:text="${card1.cardType}"></span> </td>
                <td> 신용카드 / <span th:text="${card2.cardType}"></span> </td>
            </tr>

            <tr>
                <td colspan="2" class="intitle"> 연회비 </td>
            </tr>
            <tr>
                <td th:text="${card1.annualFee}"></td>
                <td th:text="${card2.annualFee}"></td>
            </tr>

            <tr>
                <td colspan="2" class="intitle"> 전월실적 </td>
            </tr>
            <tr>
                <td th:text="${card1.beforePay}"></td>
                <td th:text="${card2.beforePay}"></td>
            </tr>

            <tr>
                <td colspan="2" class="intitle"> 혜택 </td>
            </tr>
            <tr class="benefits">
                <td>
                    <dl>
                        <dt><img th:src="@{../static/images/} + ${card1.benefit1}"></dt>
                        <dd th:text="${card1.benefit1_detail}"></dd>
                    </dl>
                    <dl>
                        <dt><img th:src="@{../static/images/} + ${card1.benefit2}"></dt>
                        <dd th:text="${card1.benefit2_detail}"></dd>
                    </dl>
                    <dl>
                        <dt><img th:src="@{../static/images/} + ${card1.benefit3}"></dt>
                        <dd th:text="${card1.benefit3_detail}"></dd>
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt><img th:src="@{../static/images/} + ${card2.benefit1}"></dt>
                        <dd th:text="${card2.benefit1_detail}"></dd>
                    </dl>
                    <dl>
                        <dt><img th:src="@{../static/images/} + ${card2.benefit2}"></dt>
                        <dd th:text="${card2.benefit2_detail}"></dd>
                    </dl>
                    <dl>
                        <dt><img th:src="@{../static/images/} + ${card2.benefit3}"></dt>
                        <dd th:text="${card2.benefit3_detail}"></dd>
                    </dl>
                </td>

            </tr>

        </table>

    </div>


    <th:block th:replace = "footer :: footer"></th:block>

</body>
</html>