<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/card_company.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

    <link rel="stylesheet" type="text/css" href="../static/css/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css">


    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="../static/js/slick.js" type="text/javascript" charset="utf-8"></script>

    <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }


    * {
      box-sizing: border-box;
    }

    .slider {
        width: 1500px;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 35px;
    }

    .slick-slide div {
      width: 400px;
    }


    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }


    .slick-active {
      opacity: .5;
    }


    .slick-current {
      opacity: 1;
    }

  </style>

</head>

<body>

<th:block th:replace = "header :: header"></th:block>



<script type="text/javascript">

        $(document).on('ready', function() {

          $(".center").slick({
            dots: true,
            infinite: true,
            centerMode: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000
          });

        });
    </script>



<div id="companyWrap">
    <div id="subtitle">
        <h1> 카드사 </h1>
    </div>

    <div id="companys">


        <section class="center slider">


            <div class="oneCompany" th:each="company : ${companyList}">
                <a th:href="@{'/find_company/'+${company.companyName}}">
                    <input type="hidden" th:value="${company.companyCode}">
                    <img class="comLogo" th:src="@{../static/images/} + ${company.companyLogo}" width="100%">
                    <span name="company" th:text="${company.companyName}"></span>
                    <img class="cardPic" src="../static/images/카드1.png" width="180px">
                    <img class="cardPic" src="../static/images/카드2.png" width="180px">
                    <img class="cardPic" src="../static/images/카드3.png" width="180px">
                </a>
            </div>


        </section>

        <div id="finCompanyList">
            <h2 th:text="${thisCompany}"></h2>
            <ul>
                <li id="onecard" th:each="card : ${thisCardlist}">
                    <!-- list반복문 : th:each="변수명 : ${받은 모델명}" -->

                    <img th:src="@{../static/images/} + ${card.cardPhoto}"> <!--사진-->
                    <div class="text">
                        <p class="name" th:text="${card.cardName}"></p> <!--카드이름-->
                        <p th:text="${card.cardCompany}"></p> <!--카드사-->
                    </div>
                    <div class="benefits">
                        <div class="icon"><img th:src="@{../static/images/} + ${card.benefit1}"> </div>   <!--혜택1 아이콘-->
                        <div class="icon"><img th:src="@{../static/images/} + ${card.benefit2}"> </div>
                        <div class="icon"><img th:src="@{../static/images/} + ${card.benefit3}"> </div>
                    </div>
                    <a href="card_detail.html" th:href="@{'/card_detail_page/'+${card.cardCode}}" class="more"> 상세 보기</a>
                    <div class="condition">
                        <p>연회비 <span th:text="${card.annualFee}"></span>원 | 전월 실적 <span th:text="${card.beforePay}"></span>원</p>
                        <a href="card_compare.html" th:href="@{/card/card_compare_page}">  <img src="../static/images/add.png">  <p class="cart"> 비교함 담기</p></a>
                    </div>
                </li>
            </ul>
        </div>



    </div>


</div>



<th:block th:replace = "footer :: footer"></th:block>

</body>
</html>