<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/card_detail.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/static/js/menubar.js}"></script>

</head>

<body>
    <th:block th:replace = "header :: header"></th:block>


    <div id="detailWrap">
        <input type="hidden" id="code">
            <div id="subtitle">
                <h1> 카드 상세안내 </h1>
            </div>


           <div id="detailInfo">
               <div class="cardimg">
                   <img th:src="@{../static/images/} + ${cardDto.cardPhoto}"> <!-- $는 값, @는 이미지링크 -->
               </div>
               <div class="cardInfo">
                   <p class="name" for="a" th:text="${cardDto.cardName}"></p> <!--카드이름-->
                   <p>신한카드</p> <!--카드사-->
                   <div id="benefits">
                       <div class="icon"><img th:src="@{../static/images/} + ${cardDto.benefit1}"> </div>   <!--혜택1 아이콘-->
                       <div class="icon"><img th:src="@{../static/images/} + ${cardDto.benefit2}"> </div>
                       <div class="icon"><img th:src="@{../static/images/} + ${cardDto.benefit3}"> </div>
                   </div>
                   <div class="sub">
                       <p>연회비 :<span th:text="${cardDto.annualFee}"></span>원</p>
                       <p>전월실적 :<span th:text="${cardDto.beforePay}"></span> 원</p>
                   </div>
                   <form method="post" th:action="@{/card_countUp}" id="application">
                       <input type="hidden" th:value="${cardDto.cardCode}" name="cardCode">
                       <input type="hidden" th:value="${cardDto.cardLink}" name="cardLink">
                       <a th:href="${cardDto.cardLink}"><input type="submit" value="카드 신청"> </a>
                   </form>
               </div>
           </div>
           <div id="beneInfo">
               <div id="smallTitle">
                   <h2> Benefit Detail </h2>
               </div>
               <div id="benefitDetail">
                   <ul>
                       <li>

                           <img th:src="@{../static/images/} + ${cardDto.benefit1}">  <!--혜택1 아이콘-->

                           <p th:text="${cardDto.benefit1_detail}"></p>
                       </li>
                       <li>
                           <img th:src="@{../static/images/} + ${cardDto.benefit2}">  <!--혜택1 아이콘-->

                           <p th:text="${cardDto.benefit2_detail}"> </p>
                       </li>
                       <li>
                           <img th:src="@{../static/images/} + ${cardDto.benefit3}">  <!--혜택1 아이콘-->

                           <p th:text="${cardDto.benefit3_detail}"> </p>
                       </li>
                   </ul>
               </div>
           </div>

    </div>

    <th:block th:replace = "footer :: footer"></th:block>

</body>
</html>