<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/card_list.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

</head>

<body>
    <th:block th:replace = "/header :: header"></th:block>


    <div id="chartWrap">
        <div id="subtitle">
            <h1> 카드List </h1>
        </div>

        <div id="listInfo">
            <ul>
                <li id="onecard">
                    <img src="../static/images/카드1.png"> <!--사진-->
                    <div class="text">
                        <p class="name">신한 DEEP MAKING</p> <!--카드이름-->
                        <p>신한카드</p> <!--카드사-->
                    </div>
                    <div class="benefits">
                        <div class="icon"><img src="../static/images/통신2.png"> </div>   <!--혜택1 아이콘-->
                        <div class="icon"><img src="../static/images/주유.png"> </div>
                        <div class="icon"><img src="../static/images/쇼핑.png"> </div>
                    </div>
                    <a class="more"> 상세 보기</a>
                    <div class="condition">
                        <p>연회비 20,000원 | 전월실적 30만원</p>
                        <p class="cart"> 아이콘 + 비교함 담기</p>
                    </div>
                </li>

                <li id="onecard">
                    <img src="../staic/images/카드1.png"> <!--사진-->
                    <div class="text">
                        <p class="name">신한 DEEP MAKING</p> <!--카드이름-->
                        <p>신한카드</p> <!--카드사-->
                    </div>
                    <div class="benefits">
                        <div class="icon"><img src="../static/images/통신2.png"> </div>   <!--혜택1 아이콘-->
                        <div class="icon"><img src="../static/images/주유.png"> </div>
                        <div class="icon"><img src="../static/images/쇼핑.png"> </div>
                    </div>
                    <a class="more"> 상세 보기</a>
                    <div class="condition">
                        <p>연회비 20,000원 | 전월실적 30만원</p>
                        <p class="cart"> 아이콘 + 비교함 담기</p>
                    </div>
                </li>
            </ul>

        </div>

    </div>


    <th:block th:replace = "/footer :: footer"></th:block>

</body>
</html>