<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>error</title>

    <link rel="stylesheet" th:href="@{/static/css/header.css}" />
</head>
<body>

<th:block th:replace = "header :: header"></th:block>

<br>
<br>

<br>

<div style="text-align:center;">
    <img style="width:900px; height:500px;" src="../static/images/springerror.jpg">
    <h1><a href="main" th:href="@{/}"><button style="background-color:#007bff; color:white; border-radius: .25rem; width:170px; font-size:19px; height:60px;">홈으로 돌아가기</button>  </a></h1>

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>