<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/header.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>

<body>
    <header id="head">
            <a href="main" th:href="@{/}">
                <div id="logo">
                     <img src="../static/images/loogoo.png">
                </div>
            </a>
        <div id="menu_bar">
            <div id="menu_inner">
                <ul>
                    <li> <a href="card_chart.html" th:href="@{/card/card_chart_page}"> 차트 </a></li>
                    <li> <a href="cardSearch.html" th:href="@{/card/card_search_page}"> 조건검색 </a></li>
                    <li> <a href="card_company.html" th:href="@{/card_company_page}"> 카드사 </a></li>
                    <li> <a href="boardlist.html" th:href="@{/boardlist_page}"> 문의 </a></li>

                    <li class="userName log" th:if="${session.user != null}" th:text="${session.user.name}"></li>
                    <li th:if="${session.user == null}" class="loginBtn log"> <a href="login.html" th:href="@{/user/login_page}"> 로그인 </a></li>
                    <li th:if="${session.user != null}" class="logoutBtn log"> <a th:href="@{/user/logout}"> 로그아웃 </a> </li>
                    <li height="40px;" class="adminBtn log"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" href="admin_CardList.html"> 관리자페이지 </a> </li>
                </ul>

            </div>
        </div>

    </header>


</body>
</html>