<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/static/css/header.css}" />
    <link href="../static/css/login.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/static/js/menubar.js}"></script>
    
</head>
<body>
    <th:block th:replace = "header :: header"></th:block>


        <div class = "page-container">
            <div class = "login-form-container shadow">
                <div class="login-form-right-side">
                    <div class="top-logo-wrap">
                        <img  width="90%" src="../static/images/mainlogo.png">
                    </div>
                </div>
                
                <div class="login-form-left-side">
                    <div class="login-top-wrap">
                        <p class="top-message"> SOCIAL LOGIN </p>
                        <p class="choose-message"> Choose your Login type</p>
                    </div>
                    <div class="login-inpu" >
                        <div class="login-Google">
                            <a href="/oauth2/authorization/google"> <img class="loginlogos" src="../static/images/googlelogin.png"> </a>
                        </div>
                        <div class="login-Naver">
                            <a href="/oauth2/authorization/naver"> <img class="loginlogos" src="../static/images/naverlogin.png"> </a>
                        </div>
                        <div class="login-Google">
                            <a href="/oauth2/authorization/kakao"> <img class="loginlogos" src="../static/images/kakaologin.png"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>