<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="../static/css/login.css" rel="stylesheet">
    
</head>
<body>
        <div class = "page-container">
            <div class = "login-form-container shadow">
                <div class="login-form-right-side">
                    <div class="top-logo-wrap">
                        
                    </div>
                    <h1> main logo </h1>
                    <p> company name</p>
                </div>
                
                <div class="login-form-left-side">
                    <div class="login-top-wrap">
                        <p> Join Us! </p>
                    </div>
                    <div class="login-input container">
                        <div class="login-Google">
                            <a href="#"> <img class="loginlogos" src="../static/images/googlelogin.png"> </a>
                        </div>
                        <div class="login-Naver">
                            <a href="#"> <img class="loginlogos" src="../static/images/naverlogin.png"> </a>
                        </div>
                        <div class="login-Google">
                            <a href="#"> <img class="loginlogos" src="../static/images/kakaologin.png"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</body>
</html>