<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>

<body>
    <div th:replace="header.html::head"></div>
    <div th:fragment="head">

    <div id="main_wrap">

        <div id="mv">
            <div id="first_block">
                <div class="first_info">
                    <h1>No.1 <br>
                        Credit Card Application Website </h1>
                    <p> 00신용카드 소개글 홈페이지 입니다 </p>
                </div>

            </div>
        </div>

        <div id="no_mv">
            <div id="second_block">
                <h3> 내용 추가 어떤 내용 넣을지는 </h3>
            </div>
        </div>



    </div>
</body>
</html>