<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

<!--    <script>-->
<!--      $( document ).ready( function() {-->
<!--        var jbOffset = $( '#menu_bar' ).offset();-->
<!--        $( window ).scroll( function() {-->
<!--          if ( $( document ).scrollTop() > jbOffset.top ) {-->
<!--            $( '#menu_inner' ).addClass( 'jbFixed' );-->
<!--          }-->
<!--          else {-->
<!--            $( '#menu_inner' ).removeClass( 'jbFixed' );-->
<!--          }-->
<!--        });-->
<!--      } );-->
<!--    </script>-->

    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/static/js/menubar.js}"></script>

</head>

<body>
    <th:block th:replace = "header :: header"></th:block>

    <div id="main_wrap">

        <div id="mv">
            <div id="first_block">
                <div class="first_info">
                    <h1>No.1 <br>
                        Credit Card Application Website </h1><br>
                    <p> CARD24는 맞춤형 카드를 제공하는 카드추천 전문사이트입니다 </p>
                </div>
            </div>
        </div>

        <div id="no_mv">
            <div id="second_block">
                <h2> 고객을 위한 최적의 <span>카드 솔루션</span> </h2>
                <ul>
                    <li>
                        <a th:href="@{/card/card_chart_page}">
                            <div class="screen">
                                <div class="show">차트</div>
                                <div class="slide">어떤 신용카드가 인기가 많은지 확인해보세요! </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/card/card_search_page}">
                            <div class="screen">
                                <div class="show">검색</div>
                                 <div class="slide">자신에게 맞는 조건으로 검색해보세요!</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/boardlist_page}">
                            <div class="screen">
                                <div class="show">문의</div>
                                 <div class="slide">그래도 고민되신다면 카드추천 문의를 이용해보세요!</div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div id="third_block">
                <h2> 오늘의 <span>카드 추천</span> </h2>
                <ul>
                    <a th:href="@{'/card_detail_page/'+${random.cardCode}}" th:each=" random : ${randomList}">
                        <li class="randomCard">
                                <img th:src="@{../static/images/} + ${random.cardPhoto}">
                                <p class="name" th:text="${random.cardName}"></p>
                        </li>
                    </a>
                 </ul>
            </div>

        </div>

    </div>

    <th:block th:replace = "footer :: footer"></th:block>

</body>
</html>