
*{
    margin:0;
    padding:0;
}
ul,ol,li{
		list-style-type: none;
}
a{
    text-decoration: none;
 		color : black;
 }
/*카드 검색 전체 div*/
 #companyWrap{
    margin: 0 auto;
    height: auto;
    padding-bottom: 30px;
    background-color : #e6ecf7;
 }

 /*소제목*/
 #subtitle{
    width: 100%;
    height : auto;
    background-color : #fff;
 }
 #subtitle h1{
    margin: 0px auto;
    width : 1300px;
    display: flex; /*align-items와 함께 세로 센터만들기*/
    align-items: center;
    padding: 40px;
   font-size : 35px;
 }
/*

*/
/*카드사 li*/
.oneCompany{
    background-color:#fff;
    position: relative;
    height:300px;
    border-radius:10px;
}
.oneCompany .comLogo{
    width:100%;
    padding: 10px 20px;
}
.oneCompany span{
    position : absolute;
    top : 87px;
    right : 17px;
}
.oneCompany .cardPic{
    position : absolute;
    top : 120px;
    left : 110px;
   z-index : 4;
   transform-origin:top left;
    box-shadow: 3px 3px 15px rgb(0 0 0 / 10%);
}
.oneCompany:hover :nth-child(4){
   z-index : 3;
   transform: rotate(5deg) translate(50px, 0px);
   transition:all 0.4s;
}
.oneCompany:hover :nth-child(5){
   transform: rotate(10deg) translate(100px, 0px);
   transition:all 0.4s;
   z-index : 1;
}
.oneCompany:hover{
    border: 5px solid rgba(204,153,255, 0.5);
}



/*#companys li:first-child:before{
   content:'';
   background : url(../images/카드1.png) no-repeat;
    position: absolute;
    background-size: cover;
    width:60%;
    height: 60%;
    top: 55px;
    right: -80px;
    filter: blur(3px);
}*/




/* 카드사 리스트*/
 #finCompanyList{
    width:100%;
    margin: 30px auto;
    padding-bottom : 30px;
    font-size : 20px;
    box-sizing : border-box;
 }
 #finCompanyList h2{
    text-align:center;
    margin: 60px;
 }
 #finCompanyList #onecard{
    background-color : #fff;
    margin: 0 auto;
    width:1300px;
    height:300px;
    padding : 40px 50px;
    margin-bottom: 30px;
    position : relative;
 }
 #finCompanyList img{  /*카드이미지*/
    width : 230px;
    height: 145px;
    float : left;
 }

#finCompanyList .text{
    float : left;
    margin: 10px 50px;
  }

  #finCompanyList .name{
    font-size : 35px;
    margin-bottom :10px;
  }
  /*아이콘*/
  #finCompanyList .benefits{
      width:830px;
      float:left;
      margin-left:110px;
  }
    #finCompanyList .icon{
        float:left;
        width: 140px;
       height: 140px;
       line-height: 140px;
       border-radius: 50%;
       background-color: #f8efed;
       margin: 0 50px;
    }
#finCompanyList .icon img{
    width:140px;
 }
/*상세보기*/
#finCompanyList .more{
    position: absolute;
    right: 3%;
    float: right;
    font-size : 20px;
    padding: 98px 13px;
    background-color:  rgba(204,153,255, 0.5);
    border-radius: 10px;
}
#finCompanyList .more:hover{
    background-color:  rgba(204,153,255, 1);
    transition: 0.3s;
}

/*연회비,전월실적*/
 #finCompanyList .condition{
        font-size : 15px;
        position: absolute;
        top: 69%;
        left:-2.7%;
        width:400px;
        text-align:center;
    }

#finCompanyList .cart{
        display:inline;
        padding-left:10px;
        line-height: 52px;
        font-size : 20px;
    }
#finCompanyList .condition img{
    position : absolute;
    width: 50px;
    height:50px;
    left:27%;
    padding:12px;
   }
 #finCompanyList .condition a:hover .cart{
        color : rgba(204,153,255, 1);
}