
*{
    margin:0;
    padding:0;
}
ul,ol,li{
		list-style-type: none;
}
a{
    text-decoration: none;
 		color : black;
 }
/*카드 검색 전체 div*/
 #searchWrap{
    margin: 0 auto;
    height: auto;
    background-color : #e6ecf7;
 }

 /*소제목*/
 #subtitle{
    margin: 0 auto;
    width: 100%;
    height : auto;
    background-color : #fff;
 }
 #subtitle h1{
    margin: 0 auto;
    width : 1300px;
    display: flex; /*align-items와 함께 세로 센터만들기*/
    align-items: center;
    padding: 40px;
   font-size : 35px;
 }

/*검색조건*/
 #searchInfo{
    width:1300px;
    margin: 0 auto;
    padding : 50px;
 }
 #searchInfo div{
    margin-bottom : 15px;
    background-color : #fff;
    padding : 30px;
 }
 #searchInfo p{
    font-size : 25px;
    margin: 10px 0;
 }
#searchInfo input{
    width: 120px;
    height: 75px;
    font-size : 18px;
    margin-right : 10px;
    border-radius : 10px;
}

#searchInfo #submit{
   text-align : center;
    background-color : #e6ecf7;
}
#searchInfo #submit input{
    width: 150px;
    height: 80px;
    margin-right : 90px;
    background-color : rgba(204,153,255, 0.2);

}
#searchInfo #submit input:hover{
    background-color : rgba(204,153,255, 1);
     transition: 0.3s;

}

/*클릭 후*/
.clicked{
    background-color : rgba(204,153,255, 0.5);

}


/*광고*/
.abb{
    display:block;
    margin: 20px auto;
}