@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'GongGothicMedium';
    padding : 0px;
    margin : 0px;

}
ul,ol,li{
		list-style-type: none;
}
a{
    text-decoration: none;
 	color : black;
 }
#head{
    box-sizing: border-box;
    width:100%;
    margin: 0 auto;
    height:auto;
}

#head #logo{
    width:1300px;
    margin:5px auto;
	text-align: center;
}
#logo img{
	width:200px;
	padding-top:5px;
}

#menu_bar{
    background-color: #fff;
	text-align: center;
    width: 100%;
}

#menu_inner{
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 15px 15px -15px rgb(0 0 0 / 15%);
    z-index : 99; /*우선순위*/
    padding : 15px 0;
    margin : 0 auto;
}
#menu_inner .loginBtn img{
    width : 30px;
    height: 26px;
}

#menu_bar li{
    list-style-type: none;
    display: inline-block;
    padding: 0 70px;
    font-size : 20px;
}
#menu_bar li a{
    text-decoration: none;
    color : black;
}
.jbFixed {
        position: fixed;
        top: 0px;
 }

/*로그인*/
#menu_inner .log {
    padding: 0 20px;
    font-size: 15px;
    color:#8f8378;
}

#menu_inner li:nth-child(4){
    border-right : 2px solid #ccc;
    margin-right: 40px;
}
#menu_inner .log a{
    color:#8f8378;
}
